<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dr. Hemraj S. Lamkuche</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='public/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="body">
        <nav>
            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="logo">
                        <h1>Hemraj S.L</h1>
                    </div>
                    <div class="menu-items">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">blogs</a></li>
                        <li><a href="#">portfolio</a></li>
                        <li><a href="#">contact</a></li>
                    </div>
                </div>
            </div>
        </nav>
        <button class="card">
            <div class="row clearfix">
                <div class="left">+91 7387114521
                    <br>
                    hemraj.lamkuche@gmail.com
                </div>
                <div class="right">
                    <p>
                        <a href="#"><i style="font-size:24px" class="fa">&#xf08c;</i></a>
                        <a href="#"><i style="font-size:24px" class="fa">&#xf09b;</i></a>
                    </p>
                </div>
            </div>
            <div class="row">
                <p><span class="big">Hemraj S. Lamkuche</span></p>
                <p>Cryptologist | Professional Member IEEE | Associate Member IACR | Member at Blockchain Council |
                    Hyperledger Foundation Member</p>
            </div>
        </button>
    </div>
</body>
</body>

</html>